<h1>Lista de Produtos</h1>

<form method="get" action="/products">
    <label for="query">Filtro por categoria:</label>
    <input type="text" id="query" name="query" placeholder="Digite a categoria" />
    
    <label for="sort">Ordenação:</label>
    <select id="sort" name="sort">
        <option value="">Selecione</option>
        <option value="asc">Preço Crescente</option>
        <option value="desc">Preço Decrescente</option>
    </select>

    <button type="submit">Aplicar Filtros</button>
</form>

<ul>
    {{#each products}}
        <li>
            <h2>{{this.title}}</h2>
            <p>{{this.description}}</p>
            <p>Preço: ${{this.price}}</p>
            <a href="/products/{{this._id}}">Ver detalhes</a>
            <!-- Substituir o formulário pelo botão e função JavaScript -->
            <button onclick="addToCart('{{../cartId}}', '{{this._id}}')">Adicionar ao carrinho</button>
        </li>
    {{/each}}
</ul>

<div>
    {{#if hasPrevPage}}
        <a href="/products?page={{prevPage}}&query={{query}}&sort={{sort}}">Página Anterior</a>
    {{/if}}

    <span>Página {{currentPage}} de {{totalPages}}</span>

    {{#if hasNextPage}}
        <a href="/products?page={{nextPage}}&query={{query}}&sort={{sort}}">Próxima Página</a>
    {{/if}}
</div>

<script>
    async function addToCart(cartId, productId) {
        try {
            const response = await fetch(`/api/carts/${cartId}/product/${productId}`, {
                method: 'POST'
            });

            if (response.ok) {
                alert('Produto adicionado ao carrinho com sucesso!');
            } else {
                alert('Erro ao adicionar produto ao carrinho.');
            }
        } catch (error) {
            console.error('Erro:', error);
            alert('Erro ao adicionar produto ao carrinho.');
        }
    }
</script>
